
     .previous {
        color:rgb(54, 34, 179);
        border-radius: 15px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 400px;

        
         }    
         body {
            background-image: url('genshin.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
          }
    #response-table {
        background-color:rgba(255, 255, 255, 0.8);
        color:rgb(54, 34, 179);
        width: 60%;
        height: 5%;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        margin-top: 200px;

    }
    p.error {
        font-family: 'Times New Roman', Times, serif;
        font-size: 28px;
        color:darkslateblue;
        text-align: center;
        border-radius: 15px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
    
    }